<div class="principal">
  <div class="chat-messages">
    <div *ngFor="let message of messages" [class]="message.role">
      <div *ngIf="message.role=='assistant'" id="logo"></div>
      <div [class]="message.role+'-text'">{{ message.content }}</div>
    </div>
  </div>
  <input id="saisie" type="text" [(ngModel)]="currentText" placeholder="Appuyez sur Ctrl pour parler">
  <div class="buttons">
    <input type="button" value="Demander" (click)="envoyer()">
    <input [id]="getRecVocClass()" type="button" value="Parler" (click)="ecoute()">
  </div>
</div>
