<div [class]="getFNClass()">
  <section class="agenda">
    <section class="navigation">
        <button (click)="changeSemaine(-1)">Semaine Précédente</button>
        <button class="suivant" (click)="changeSemaine(1)">Semaine suivante</button>
    </section>
    <table>
        <thead>
            <tr>
                <th *ngFor="let jour of joursSemaine">
                    {{ formatDate(jour) }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td *ngFor="let jour of joursSemaine">
                    <div class="liste" 
                        *ngFor="let s of sortiesParJour[jour.toISOString().split('T')[0]]"
                        [routerLink]="['/app-sorties/editer', s.title]">
                        <strong>{{ s.title }}</strong>
                        <p>{{ s.heureDebut }}</p>
                        <p>{{ s.adresse }}</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
  </section>

  <button class="add" (click)="ajouterNouvelleSortie()">
      <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
      </svg>
  </button>
</div>
