<div [class]="getFNClass()">
  <article *ngFor="let info of infosList">
      <a href="http://google.fr"><h1>{{ info.title }}</h1></a>
      <p *ngIf="info.numCategorie != 2">{{ info.short_description }}</p>
      <p *ngIf="info.numCategorie == 2">{{ info.date }} - {{ info.heureDebut }}</p>
      <div class="horizontal" *ngIf="info.numCategorie == 2">
          <p>À {{ info.adresse }}</p>
          <button class="ajout-loisir" (click)="participerSortie(info)">Participer</button>
      </div>
  </article>
</div>
<div class="infosNav">
  <button id="categorie-1" [class]="getCategorieClass(true)" (click)="changeCategorie(-1)">Toutes</button>
  <button *ngFor="let cat of nomsCategories" [id]="catNom(cat.num)" [class]="getCategorieClass(false)" (click)="changeCategorie(cat.num)">{{ cat.nom }}</button>
</div>
