/* You can add global styles to this file, and also import other style files */
body{
    margin: 0px;
    font-family: var(--main-font);
}
h1, h2, h3, p, div, span, button, input, select, textarea, li, ul {
  font-family: var(--main-font);
}
:root {
  --main-font: 'Roboto', sans-serif; 
}
