<div>
  <input type="text" [(ngModel)]="nouveauMedicament.nom" placeholder="Nom du médicament">

  <label for="duree">Durée de la prise (en jours) :</label>
  <input type="number" id="duree" [(ngModel)]="nouveauMedicament.duree" placeholder="Durée (jours)" min="1">

  <label for="quantite">Quantité par prise :</label>
  <input type="number" id="quantite" [(ngModel)]="nouveauMedicament.quantite" placeholder="Quantité" min="1">

  <label for="heurePrise">Heure de prise (HH:MM) :</label>
  <input type="time" id="heurePrise" [(ngModel)]="nouveauMedicament.heurePrise">

  <br>
  <input type="button" value="{{ estNouveau ? 'Enregistrer' : 'Mettre à jour' }}" (click)="enregistrer()">
  <input *ngIf="!estNouveau" type="button" value="Supprimer" (click)="supprimer()">
  <input type="button" value="Annuler" (click)="annuler()">
</div>
