div {
  background-color: rgba(255, 255, 255, 0.5);
  height:100%;
  width: 60%;
  margin-left: 30%;
  border: 1px solid black;
  padding: 20px;
  box-sizing: border-box;
  text-align: left;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: large;
}

textarea {
  height: 150px;
}

button[type="button"] {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 10px;
  margin-right: 10px;
  font-size: medium;
  cursor: pointer;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10% 10% 10% 10%;
}

button[type="validation"] {
  background-color: #608cd4;
  color: black;
  border: none;
  padding: 10px 10px;
  font-size: medium;
  cursor: pointer;
  box-shadow: 5px 5px 5px grey;
  border-radius: 10% 10% 10% 10%;
}

button[type="button"]:hover,button[type="validation"]:hover {
  background-color: orange;
}
